substance_autosave_*.spp

UE5Project/Binaries/
UE5Project/DerivedDataCache/
UE5Project/Intermediate/
UE5Project/Saved/
UE5Project/Build/

UE5Project/Content/**/*_BuiltData.uasset

UE5Project/.vs/
UE5Project/*.sln
UE5Project/*.vc.db
UE5Project/*.opensdf
UE5Project/*.opendb
UE5Project/*.sdf

*.slo
*.lo
*.o
*.obj

*.so
*.dylib
*.dll

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app
*.ipa

.DS_Store
Thumbs.db